.section {
	@include xy-grid-container($global-width);
	@include section-padding;

	position: relative;

	&--full {
		@include xy-grid-container();
	}

	&__inner {
		@include xy-grid-container($global-width, $padding: 0);

		&--full {
			@include xy-grid-container($padding: 0);
		}
	}

	&--splitted {
		padding: 0;

		&,
		.section__inner {
			@include xy-grid();

			width: 100%; /* stretch to container width. still has max-width set! */
		}

		.cell {
			@include breakpoint(medium) {
				@include xy-cell(50%, $gutters: 0);
			}

			&:first-child {
				padding-left: 0;
			}

			&:last-child {
				padding-right: 0;
			}

			&__inner {
				@include section-padding;

				max-width: $global-width / 2;
				padding-left: $global-padding;
				padding-right: $global-padding;
			}

			&:first-child .cell__inner {
				margin-left: auto;
				margin-right: 0;
			}
		}
	}

	> h2:first-child,
	&__inner > h2:first-child {
		margin-top: 0;
	}
}
