.b-join-team {
	&__title {
		@include heading-small;

		display: flex;
		align-items: center;
		gap: rem-calc(15);

		@include breakpoint(large) {
			margin-bottom: rem-calc(20);
		}

		@include breakpoint(medium only) {
			margin-bottom: rem-calc(15);
		}

		@include breakpoint(medium down) {
			justify-content: center;
		}
	}

	&__description {
		max-width: rem-calc(750);
		margin-bottom: 0;

		@include breakpoint(medium down) {
			text-align: center;
			margin-left: auto;
			margin-right: auto;
		}

		&--2 {
			margin-top: rem-calc(60);
			margin-bottom: rem-calc(30);
			max-width: 100%;
			font-weight: 700;

			@include breakpoint(medium down) {
				margin-top: rem-calc(30);
			}
		}
	}

	&__button-wrapper {
		@include button;
	}

	&__images-wrapper {
		display: grid;
		gap: rem-calc(30);
		grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
		justify-items: center;
		align-items: flex-end;
	}
}
