.b-custom-food-intro {
	background-color: $white;
	color: $primary;
	padding-top: rem-calc(72);
	padding-bottom: rem-calc(72);

	@include breakpoint(small only) {
		padding-top: rem-calc(48);
		padding-bottom: rem-calc(48);
	}

	&__title {
		@include heading;

		line-height: 1.14;
		margin-bottom: 0;
		max-width: rem-calc(570);

		@include breakpoint(medium down) {
			margin-bottom: rem-calc(26);
		}
	}

	&__text {
		max-width: rem-calc(550);

		p {
			@include pharagraph;

			color: $primary;
			font-weight: 400;
			margin-bottom: rem-calc(27);

			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	&__media {
		border-radius: rem-calc(8);
		margin-top: rem-calc(64);
		overflow: hidden;

		@include breakpoint(small only) {
			margin-top: rem-calc(40);
		}

		img {
			aspect-ratio: 1170 / 658;
			display: block;
			height: auto;
			object-fit: cover;
			width: 100%;
		}
	}

	&__video {
		aspect-ratio: 16 / 9;
		border-radius: rem-calc(18);
		display: block;
		object-fit: cover;
		width: 100%;
	}
}
