.b-contact {
	background: no-repeat center center / cover;

	@include breakpoint(large) {
		padding-top: rem-calc(100);
	}

	&__title {
		@include heading;

		span {
			color: $orange;
		}
	}

	&__description {
		margin-bottom: rem-calc(30);
	}

	&__items-wrapper {
		display: flex;
		justify-content: center;
		gap: rem-calc(20);

		@include breakpoint(medium) {
			max-width: rem-calc(320);
			margin: 0 auto;
			flex-direction: column;
			gap: rem-calc(60);
		}

		@include breakpoint(small only) {
			display: none;
		}
	}

	&__items-wrapper-mobile {
		@include breakpoint(medium) {
			display: none;
		}

		@include breakpoint(small only) {
			display: flex;
			flex-direction: column;

			.b-contact__item {
				flex-direction: row;
				align-items: center;
			}
		}
	}

	&__item {
		display: flex;
		flex-direction: column;
		gap: rem-calc(10);

		@include breakpoint(small only) {
			align-items: center;
			text-align: center;
		}

		.icon {
			width: rem-calc(80);
			height: rem-calc(80);
			object-fit: contain;

			@include breakpoint(medium only) {
				width: rem-calc(70);
				height: rem-calc(70);
			}

			@include breakpoint(small only) {
				width: rem-calc(50);
				height: rem-calc(50);
			}

			@media (min-width: rem-calc(320)) and (max-width: rem-calc(399)) {
				width: rem-calc(40);
				height: rem-calc(40);
			}
		}

		.title {
			font-size: rem-calc(36);
			font-family: 'Asap Condensed', sans-serif;
			margin-bottom: 0;

			@include breakpoint(medium only) {
				font-size: rem-calc(31);
			}

			@include breakpoint(small only) {
				font-size: rem-calc(20);
			}

			@media (min-width: rem-calc(320)) and (max-width: rem-calc(399)) {
				font-size: rem-calc(15);
			}
		}
	}

	#form_contact-form {
		input {
			height: rem-calc(56);
		}

		textarea {
			padding-top: rem-calc(25);
		}

		input,
		textarea {
			color: $primary;
			border: 1px solid $primary;
			border-radius: rem-calc(20);
			font-family: 'Asap Condensed', sans-serif;
			font-size: rem-calc(20);
			padding-left: rem-calc(25);
			box-shadow: none;

			&::placeholder {
				color: $primary;
			}
		}

		.frm_submit {
			@include button;

			max-width: 100%;
			width: 100%;

			button {
				padding: 0;
				margin: 0;
				border: none;

				&:hover,
				&:active,
				&:focus {
					color: $white;
				}
			}
		}

		.frm_error {
			text-align: center;
			margin-top: rem-calc(5);
			font-size: rem-calc(14);
			font-weight: 700;
		}
	}
}
