.b-products-2 {
	@include breakpoint(large) {
		padding-top: rem-calc(100);
	}

	&__title {
		@include heading-hero;

		display: flex;
		justify-content: center;
		gap: rem-calc(10);
		color: $primary;

		@include breakpoint(small only) {
			gap: rem-calc(5);
		}

		@media (min-width: rem-calc(320)) and (max-width: rem-calc(385)) {
			font-size: rem-calc(43);
		}

		span {
			color: $jade;
		}

		img {
			transform: translateY(rem-calc(-20));

			@include breakpoint(medium only) {
				width: rem-calc(26);
				transform: translateY(rem-calc(-15));
			}

			@include breakpoint(small only) {
				width: rem-calc(21);
				transform: translateY(rem-calc(-10));
			}
		}
	}

	&__products {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: rem-calc(40);

		@include breakpoint(large) {
			gap: rem-calc(60);
		}

		@include breakpoint(small only) {
			grid-template-columns: repeat(1, 1fr);
		}
	}

	&__product {
		.image-wrapper {
			border-radius: rem-calc(30);
			overflow: hidden;

			img {
				transition: all 0.3s;
			}
		}

		.bottom {
			display: flex;
			justify-content: space-between;
			align-items: center;
			gap: rem-calc(10);
			margin-top: rem-calc(20);

			@include breakpoint(small only) {
				justify-content: center;
				gap: rem-calc(20);
			}

			@include breakpoint(medium down) {
				margin-top: rem-calc(15);
			}

			h3 {
				@include heading-small;

				color: $primary;
				margin-bottom: 0;
				transition: all 0.3s;
			}

			.icon-wrapper {
				height: rem-calc(40);
				width: rem-calc(40);
				box-shadow: 0 2px 20px rgba(0, 0, 0, 0.1);
				border-radius: 50%;
				display: inline-flex;
				justify-content: center;
				align-items: center;
				transition: all 0.3s;

				svg {
					path {
						transition: all 0.3s;
					}
				}
			}
		}

		&:hover {
			img {
				transform: scale(1.06);
			}

			.bottom {
				h3 {
					color: $red;
				}

				.icon-wrapper {
					background: $red;

					svg {
						path {
							fill: $white;
						}
					}
				}
			}
		}
	}
}
