.recipes {
	background-color: #f4f4f4;

	&__hero {
		background: no-repeat center center / cover;
		text-align: center;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding: rem-calc(80) rem-calc(20);

		@include breakpoint(large) {
			padding-top: rem-calc(100);
		}

		@include breakpoint(medium only) {
			padding: rem-calc(60) rem-calc(20);
		}

		@include breakpoint(small only) {
			background-image: none !important;
			padding: rem-calc(40) rem-calc(20) 0 rem-calc(20);
		}
	}

	&__hero-image {
		@include breakpoint(medium) {
			display: none;
		}
	}

	&__hero-title {
		@include heading-hero;

		max-width: rem-calc(615);
		margin-left: auto;
		margin-right: auto;
		color: $primary;

		@include breakpoint(medium only) {
			margin-bottom: rem-calc(5);
		}

		@include breakpoint(small only) {
			margin-bottom: rem-calc(10);
		}

		span {
			color: $orange;
		}

		.trademark {
			vertical-align: super;

			@include breakpoint(medium only) {
				width: rem-calc(27);
			}

			@include breakpoint(small only) {
				width: rem-calc(23);
			}
		}
	}

	&__hero-description {
		max-width: rem-calc(615);
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 0;
	}

	&__tabs {
		display: grid;
		grid-template-columns: repeat(5, 1fr);
		overflow-x: auto;
		border: none;
		background: transparent;

		li {
			border-bottom: 3px solid #e4f4f8;
			text-align: center;
			display: flex;
			justify-content: center;
			align-items: center;
			cursor: pointer;

			a {
				opacity: 0.5;
				font-family: 'Asap Condensed', sans-serif;
				font-weight: 400;
				font-size: rem-calc(24);
				color: $primary;
				transition: all 0.2s;

				@include breakpoint(medium only) {
					font-size: rem-calc(20);
				}

				@include breakpoint(small only) {
					font-size: rem-calc(16);
				}
			}

			&:hover,
			&:focus {
				a {
					font-weight: 700;
					color: $orange;
					background: transparent;
				}
			}

			&.is-active {
				border-bottom-color: $orange;

				a {
					opacity: 1;
					font-weight: 700;
					background: transparent;
					color: $orange;
				}
			}

			&:hover {
				border-bottom-color: $orange;
			}
		}
	}

	&__tabs-content {
		border: none;
		background: transparent;
	}

	&__recipes-container {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 0 rem-calc(25);

		@include breakpoint(medium only) {
			grid-template-columns: repeat(2, 1fr);
		}

		@include breakpoint(small only) {
			grid-template-columns: repeat(1, 1fr);
		}
	}

	&__recipe {
		padding-top: rem-calc(50);

		@include breakpoint(small only) {
			width: 100%;
			padding-top: rem-calc(30);
		}
	}

	&__recipe-content-wrapper {
		background: linear-gradient(180deg, #fafdff 0%, #fbfbfb 100%);
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
		border-radius: rem-calc(20);
		text-align: center;
		padding-bottom: rem-calc(20);

		@include breakpoint(medium) {
			margin-top: rem-calc(50);
		}

		@include breakpoint(small only) {
			padding: rem-calc(20);
		}
	}

	&__recipe-content {
		max-width: rem-calc(350);
		margin-left: auto;
		margin-right: auto;

		@include breakpoint(medium) {
			padding-left: rem-calc(20);
			padding-right: rem-calc(20);
		}

		@include breakpoint(small only) {
			display: flex;
			align-items: center;
			gap: rem-calc(20);
			max-width: 100%;

			> div {
				flex-basis: 62%;
				text-align: left;
			}
		}

		.image-link {
			img {
				border-radius: rem-calc(16);
				transition: all 0.3s;
				aspect-ratio: 1/1;
				object-fit: cover;

				&:hover {
					opacity: 0.8;
				}

				@include breakpoint(medium) {
					margin-top: rem-calc(-50);
					margin-bottom: rem-calc(20);
					aspect-ratio: 6/5;
				}
			}

			@include breakpoint(small only) {
				flex-basis: 38%;
				flex-shrink: 0;
			}
		}

		.title {
			font-weight: 700;
			font-size: rem-calc(32);
			margin-bottom: 0;
			margin-top: rem-calc(5);

			@include breakpoint(medium only) {
				font-size: rem-calc(28);
			}

			@include breakpoint(small only) {
				font-size: rem-calc(18);
			}

			a {
				color: inherit;

				&:hover,
				&:active {
					color: $red;
				}
			}
		}

		svg {
			max-width: 100%;
		}
	}
}
